body {
    background-color: rgb(48, 87, 74);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background-color: rgb(48, 87, 74);
    display: block;
    border-color: white;
}

.navbar ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.navbar li {
    display: inline-block;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    color: white;
    width: 120px;
    display: block;
    padding: 20px 20px;
    font-weight: bold;
    text-align: center;
}

header.jumbotron {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    color: white;
    background: url(../images/pexels-eberhard-grossgasteiger-1699030.jpg);
}

header.jumbotron .header-content {
    max-width: viewport-length;
    margin-bottom: 100px;
    text-align: center;
}

header.jumbotron .header-content h1 {
    font-size: 60px;
    color: black;
}

.header-content h2{
    font-size: 20px;
    color: rgb(48, 87, 74);
}

.header-content h2:hover{
    font-size: small;
    color: rgb(19, 31, 27)
}

header.jumbotron .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

header.jumbotron .device-container .screen img {
    border-radius: 3px;
}

.description, .project-title, .contact, .skills{
    padding: 50px;
    justify-content: center;
    color: white;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    padding: 10px;
    border-color: rgb(3, 10, 46);
}

.card img {
    width: 200px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a:hover{
    background-color: rgb(56, 15, 62);
}

h3 {
    color: black;
}

footer{
   text-align: right;
   color: rgb(3, 10, 46);
   background-color: white;
   margin: 50px 50px 50px 50px;
   padding: 10px;
   border-radius: 10px;
   border-color: rgb(3, 10, 46);
}